@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
	@font-face { font-family: 'HangultuelGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.10/HangultuelGothic.woff') format('woff'); font-weight: normal; font-style: normal; }
	* { margin:0; padding:0; box-sizing: border-box; }
	li { list-style: none;}
	a { text-decoration: none;}
	html, body { 
		font-family: 'Noto Sans KR', sans-serif; 
		height:100%;
		position:relative;
	}
	.align { width:80%; margin:0 auto;}

	header {
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:80px;
		z-index:9;
		transition:all 0.8s;
		overflow: hidden;
	}
	
	.nav_up { top:-80px; } 

	header #logo { 
			width:200px; 
			height:80px;
			float:left; 
	}
	header #navi {
		float:right; 
		width:880px; 
	}
	header #navi > #lnb > ul { 
		width:700px; 
		height:80px; 
		float:left; 
	}
	header #navi > #lnb > ul > li { 
		float:left;
		text-align:center;
		position:relative;
		width:140px;
		cursor: pointer;
	}
	header #navi > #lnb > ul > li > a {
		color:#fff;
		line-height:80px;
		box-sizing:border-box;
		font-weight:bold;
	}
	header #navi > #lnb > ul ul {
		position:absolute;
		left:0;
		top:100%;
		width:100%;
		display:none;
	}
	header #navi > #lnb > ul ul li {
		margin-bottom:20px;
		cursor: pointer;
	}
	header #navi > #lnb > ul ul li a {
		color:#fff;
		font-size:14px;
		font-weight:bold;
	}

	header #navi > #lnb > ul > li:hover > a{
		border-bottom:3px solid #84d1ac;
	}
	header #navi > #lnb > ul ul li:hover a { color:#84d1ac; }
	header #navi > #gnb > ul { 
		height:80px; 
		float:right; 
	}
	header #navi > #gnb > ul > li { float:left; margin-right:10px;}
	header #navi > #gnb > ul > li:last-child { margin-right:0; }
	header #navi > #gnb > ul > li a { 
		font-size:14px;
		color:#fff;
		display:block;
		line-height:80px;
		font-weight:bold;
		transition:all 0.3s;
	}
	header #navi > #gnb > ul > li:hover a {
		color:#84d1ac;
	}
	#bgimg { 
		width:100%;
		height:80%;
		overflow:hidden;
		position:relative;
	}
	#bgimg .slider { height:100%; overflow:hidden;}
	#bgimg .slider ul {
		position:relative;
		width:100%;
		height:100%;
	}
	#bgimg .slider ul li { 
		position:absolute; 
		text-indent:-9999px;
		height:100%;
		width:100%;
	}
	
	.slider .visual1 { 
		background:url("../img/slider1.jpg") left center no-repeat;
		background-size:cover;
	}

	.slider .visual2 { 
		background:url("../img/slider2.jpg") left center no-repeat;
		background-size:cover;
	}
	
	#bgimg .slidebar {
		position:absolute;
		left:0;
		top:-10%;
		overflow:hidden;
	}

	.slidebar li {
		float:left;
		text-indent:-9999px;
		width:50px;
		height:5px;
		background:#fff;
		margin-right:10px;
		cursor:pointer;
		transition:all 2s;
	}

	.slidebar li.on {
		width:100px;
		background:#12b8ba;
	}

	#bgimg #textbox {
		position:absolute;
		left:10%;
		bottom:10%;
		z-index:2;
	}
	#bgimg #textbox p {
		font-size:37px;
		color:#fff;
		line-height: 50px;
	}

	#bgimg #textbox button {
		width:280px;
		height:70px;
		background:transparent;
		border:2px solid #fff;
		color:#fff;
		font-size:18px;
		margin-top:20px;
		cursor: pointer;
		font-weight:bold;
		border-radius: 8px;
		transition:all 0.3s;
	}
	#bgimg #textbox button:hover {
		background:rgba(255,255,255,0.5);
		color:rgba(0,0,0,0.8);
	}
	
	

	#con1 {
		height:900px;
		position:relative;
		padding:100px 0;
		box-sizing: border-box;
		text-align: center;
		background:#f9f9f9;
	}
	

	h1.title { 
		text-align:center;
		font-size:34px;
		box-sizing:border-box;
		line-height:34px;
		margin-bottom:100px;
	}

	img.leaficon {
		width:25px;
		margin-bottom:10px;
	}
	
	#con1 figure { width:30%; margin-right:5%; float:left; position:relative; box-sizing:border-box; cursor:pointer; }
	#con1 figure:last-child { margin-right:0; }
	#con1 figure:hover .txtbox { box-shadow: 0px -1px 5px #ddd; transform:scale(1); }
	#con1 .img {
		width:100%;
		height:350px;
		box-sizing:border-box;
	}
	#con1 .txtbox {
		position:absolute;
		left:5%;
		bottom:-50%;
		background:rgba(255,255,255,0.8);
		width:90%;
		height:215px;
		z-index:3;
		box-sizing:border-box;
		padding:40px;
		transform:scale(0.9);
		transition:all 0.5s;
	}

	#con1 .txtbox h3 { margin-bottom:20px; }
	
	#con1 .txtbox p { text-align:justify; margin-bottom:10px; }

	#con1 .txtbox a { color:#12b8ba; font-weight:bold; }

	#con1 .fig1 .img {
		background:url("../img/img_basic_03.jpg") center center/cover no-repeat;
	}

	#con1 .fig2 .img {
		background:url("../img/index_cataract_02.jpg") center center/cover no-repeat;
	}

	#con1 .fig3 .img {
		background:url("../img/slider7.jpeg") center center/cover no-repeat;
	}
	#con2 {
		height:1000px;
		padding-top:100px;
		padding-bottom: 100px;
		box-sizing: border-box;
		overflow: hidden;
		position:relative;
		text-align: center;
	}

	#con2 h1 {
		text-align: center;
		font-size:34px;
		line-height:34px;
		margin-bottom:100px;
	}
	
	#con2 figure {
		width:900px;
		height:550px;
		background:url("../img/doctor1.jpg") left center/cover no-repeat;
		position:relative;
		z-index:3;
		
	}
	
	#con2 .doctortxt {
		width:900px;
		height:550px;
		position:absolute;
		top:320px;
		right:210px;
		background:#f4f5ee;
		text-align:left; 
	}

	#con2 .doctortxt div {
		position: absolute;
		top:10%;
		right:10%;
		width:50%;
	}

	#con2 .doctortxt div h3 { font-size:26px; line-height:2.5em;}
	#con2 .doctortxt div p {color:#777; line-height: 1.8em;}
	#con2 .doctortxt div h3.doctor_name { font-size:15px; font-weight: normal; color:#777; }
	#con2 .doctortxt div h3.doctor_name span { 
		font-size:23px; font-weight: bold; 
		color:#000;
		letter-spacing: 10px;
	}
	#con2 .doctortxt div ul { margin:10px 0; text-indent:30px;}
	#con2 .doctortxt div ul li { list-style: disc; line-height: 1.8em;}
	#con2 .doctortxt div a.time { display:block; text-align: right; font-weight: bold; color: #12b8ba;}
	#con3 {
		height:450px;
		background-image:url("../img/dr_bgimg.jpg");
		background-attachment:fixed;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:left center;
		padding:60px 0 60px 0;
		color:#fff;
		text-align:center;
	}
	#con3 .align {
		height:200px;
		position:relative;
		margin-top:65px;
	}
	#con3 h1 { font-size:30px; line-height:1.5em; margin-bottom:10px; }
	#con3 p { font-size:18px; line-height:1.5em; margin-bottom:10px; }
	#con3 button {
		border:1px solid #fff;
		font-size:18px;
		width:250px;
		height:70px;
		background:none;
		border-radius: 8px;
		color:#fff;
		cursor:pointer;
		font-weight: bold;
		margin-top: 20px;
		transition: all 0.3s;
	}
	
	#con3 button:hover {
		background:rgba(255,255,255,0.5);
		color:#000;
	}

	#con3 {
		height:450px;
		background-image:url("../img/dr_bgimg.jpg");
		background-attachment:fixed;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:left center;
		padding:60px 0 60px 0;
		color:#fff;
		text-align:center;
	}

	#con4 {
		height:960px;
		padding:100px 0;
		text-align:center;
		overflow: hidden;
	}

	#con4 .align article { width:47.5%; height:515px; margin-right: 5%; float:left; position: relative; cursor: pointer;}
	#con4 .align .certificate { margin-right:0; }
	#con4 .services { background: url("../img/services.jpg") center center/cover no-repeat; }
	#con4 .certificate { background: url("../img/certificate.jpg") center center/cover no-repeat; }

	#con4 .align article .service_text { 
		position: absolute;
		color:#fff;
		
	}
	#con4 .align article .service_text h3 { font-size:2vw; transition:all 1s;}
	#con4 .align article .service_text p { margin-top:20px; margin-bottom: 10px; transition:all 1s; }
	#con4 .align article .service_text a { color:#12b8ba; font-weight: bold; opacity: 0; transition:all 1s; }
	#con4 .align article:hover .service_text h3, #con4 .align article:hover .service_text p { transform: translateY(-50px); }
	#con4 .align article:hover a { transform: translateY(0); opacity: 1; }

	footer {
		height:320px;
		padding:60px 0 10px 0;
		text-align:center;
		color:#5d5a5a;
		background-color: #ddd;
	}

	footer ul li { 
		display: inline-block;
		padding:10px 20px;
		margin-bottom:20px;
	}
	footer ul li a { color:#5d5a5a; transition:all 0.3s; }
	footer ul li:hover a { color:#000; }

	footer p {
		font-size:14px;
	}

	.fixedbtn {
		position:fixed;
		bottom:10%;
		right:5%;
		z-index:9;
	}
	.fixedbtn ul li {
		width:100px;
		height:100px;
		border-radius:50px;
		text-align:center;
		box-shadow:2px 2px 15px #555;
		transform:scale(0.8);
		transition:all 0.5s;
	}
	.fixedbtn ul li:hover { transform:scale(1); }
	.fixedbtn ul li a {
		color:#fff;
		font-weight:bold;
		font-size:20px;
		display:block;
		line-height:100px;
	}
	.fixedbtn ul li:first-child {
		background:#84d1ac;
		margin-bottom:5px;
	}

	.fixedbtn ul li:last-child {
		background:#12b8ba;
	}